html{
    width: 100%;
}

body{
    font-size: 11.5pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 18pt;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}
.page-body {
    background-color: rgba(255,255,255,0.8);
}

.masthead{
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 15px;
    padding-bottom: 15px; 
}
.masthead img{
    width: 100%;
} 

[class*="col-md-12"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*--------------- Header ---------------*/

#header-ghost{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 700px;
    background-color: rgba(255,255,255,0.6);
    background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0)); /* Standard syntax */
}

.header{
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.header ul{
    position: absolute;
    list-style-type: none;
    bottom: 15%;
    left: 20%;
}
.header li{
    display: inline;
    padding-right: 3%;
}
.header-link img{
    width:3%;
    transition: all .1s ease-in-out; 
}
.header-link img:hover {
    transform: scale(1.2);*/
    -ms-transform: scale(1.2);*/   					            
    -webkit-transform: scale(1.2);*/
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-right-padding {
    padding-right: 0 !important;
}

.top-spacer {
    margin-bottom: 35px;
}

/*--------------- Index page panels ---------------*/

.panel-orange,.panel-blue,.panel-brag,.panel-sponsors {
    border-radius: 0px;
    border-style: solid;
    border-width: 4px;
    box-shadow: 3.182pt 3.182pt 5pt rgba(0,0,0,0.25);
    background-color: transparent;
}

.panel-orange {
    border-color: rgb(208,78,29);
}
.panel-orange > .panel-heading {
    background-color: rgb(208,78,29);
}

.panel-blue {
    border-color: rgb(0,102,179);
}
.panel-blue > .panel-heading {
    background-color: rgb(0,102,179);
}

.index-heading {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    letter-spacing: 0.13em;
    font-size: 17pt;
    color: white;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.25);
    border-radius: 0px;
    text-align: center;
    height: 34.5pt;
    padding-top: 5pt;
}

.panel-orange > .panel-body {
    background-color: rgba(255,255,255,0.5);
    padding: 0;
}
.panel-blue > .panel-body {
    background-color: rgba(255,255,255,0.5);
    padding: 0;
}

.panel-body iframe {
    display: block !important;
    border-width: 0;
    padding: none;
    width: 100%;
}

.blog-image-box {
    background: black;
}
.blog-image-box img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 390px;
}

.panel-brag {
    border-color: rgb(0,102,179);
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}
.panel-brag > img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.panel-sponsors {
    border-color: rgb(208,78,29);
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
    position: relative;
    margin-bottom: 0;
}

.label-blue,.label-orange {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12.5pt;
    display: inline-block;
    /* box-shadow: 5px 5px 7px rgba(0,0,0,0.25); */
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    margin-bottom: 20px;
}
.label-blue {
    background-color: rgb(0,102,179);
}
.label-orange {
    background-color: rgb(208,78,29);
}

/*--------------- Nav bar ---------------*/

.navbar-ligerbots{
    background-color: rgb(0,102,179);
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 32px !important;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25);
}
.navbar-toggle-ligerbots{
    border-color: white;
    border-radius: 0px;
    float: left;
    margin-left: 20px;
}
.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
} 
.navbar-nav > li:first-child { text-align: left; } /* alligns first element to the left border */
.navbar-nav > li:last-child { text-align: right; } /* similar for right border */
.navbar-nav > li:first-child > a { padding-left: 20px; }
.navbar-nav > li:last-child > a { padding-right: 20px; }
.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
    /* table-layout: fixed; */
}
.navbar-nav > li {
    display: table-cell;
    text-align: center;
    float: none;
    /* width: 100%; */
}

.navbar a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.03em;
    font-size: 13.5pt;
}
.navbar a:hover { 
    background-color: white;
    color: black;
}
.icon-bar-ligerbots{
    background-color: white;
}

/*--------------- Misc ---------------*/

.side-margins {
    margin-left: 20px;
    margin-right: 20px;
}
.wide-side-margins {
    margin-left: 35px;
    margin-right: 35px;
}
.bottom-margin {
    margin-bottom: 20px;
}
.bottom-padding {
    padding-bottom: 20px;
}

.side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-row p{
    text-align: justify;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.read-more img{
    display: inline-block;
    padding-left: auto;
    margin-right: auto;
    /* width: 26%; */
    height: 3em;
}
.read-more{
/*     margin-left: 20px; */
    text-align: center; 
}

/*--------------- Index page text elements ---------------*/

.announce-row {
    text-align: center;
}

.announce {
    padding-top: 3%;
}
.announce p {
    /*font-size: 110%;*/
}
.announce-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    line-height: 22pt;
    letter-spacing: 0.06em;
    text-align: center;
}
.blue-post .announce-title {
    color: rgb(0,102,179);
}
.orange-post .announce-title {
    color: rgb(208,78,29);
}

/* @media (max-width: 991px) { */
/*     .navbar-header { */
/*         float: none; */
/*     } */
/*     .navbar-toggle { */
/*         display: block; */
/*     } */
/*     .navbar-collapse { */
/*         border-top: 1px solid transparent; */
/*         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); */
/*     } */
/*     .navbar-collapse.collapse { */
/*         display: none!important; */
/*     } */
/*     .navbar-nav { */
/*         float: none!important; */
/*         margin: 7.5px -15px; */
/*     } */
/*     .navbar-nav>li { */
/*         float: none; */
/*     } */
/*     .navbar-nav>li>a { */
/*         padding-top: 10px; */
/*         padding-bottom: 10px; */
/*     } */
/*     .navbar-text { */
/*         float: none; */
/*         margin: 15px 0; */
/*     } */
/*     /\* since 3.1.0 *\/ */
/*     .navbar-collapse.collapse.in {  */
/*         display: block!important; */
/*     } */
/*     .collapsing { */
/*         overflow: hidden!important; */
/*     } */
/* } */

.calendar{
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}

#ligerbots-login{
    background-image: url("../images/background.jpg");
}

/*--------------- Blog entries ---------------*/

.blog-title{
    font-size: 175%;
    font-weight: bold;
    margin-top: 0.5em;
}

.blog-date{
    font-size: 120%;
    margin-bottom: 0.5em;
}

.blog-content{
    /*font-size: 130%;*/
}

.blog-feed{
    font-size: 130%;
    text-align: center;
}
.blog-feed img{
    margin: 5px;
}

.blog-newer{
    font-size: 130%;
    float: left;
}
.blog-older{
    font-size: 130%;
    float: right;
}

/*--------------- Carpool page ---------------*/

.carpool-delete {
    text-align: right;
    float: right;
}

.carpool {
    background-color: white;
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}

/*--------------- Facebook page ---------------*/
.facebook-entry
{
    float:left;
    width: 180px; 
    height:266px; 
    font-size: small;
}
.facebook-entry .name
{
    float:left;
}
.facebook-entry .exec
{
    color: #FFFF00;
}
.facebook-entry .north
{
    color: #FFFF00;
}
.facebook-entry .south
{
    color: #FFFF00;
}
