html{
    width: 100%;
}

body{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
}

[class*="col-md-12"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#header-ghost{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 700px;
    background-color: rgba(255,255,255,0.6);
    background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.0)); /* Standard syntax */
}

.header{
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

.header ul{
    position: absolute;
    list-style-type: none;
    bottom: 15%;
    left: 20%;
}
.header li{
    display: inline;
    padding-right: 3%;
}
.header-link img{
    width:3%;
    transition: all .1s ease-in-out; 
}
.header-link img:hover {
    transform: scale(1.2);*/
    -ms-transform: scale(1.2);*/   					            
    -webkit-transform: scale(1.2);*/
}

.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-right-padding {
    padding-right: 0 !important;
}

.blue-title{
    background-color: rgb(0,102,179);
}
.orange-title{
    background-color: rgb(208,78,29);
}
.orange-title a {
    color: white !important;
}
.blue-title,.orange-title{
    height: 34px;
    line-height: 34px;
    text-shadow: 4px 4px 5px rgb(63,63,63);
    font-weight: bold;
    color: white;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    font-size: 130%;
    text-align: center;
}

.blue-border{
    border-color: rgb(0,102,179);
}
.orange-border{
    border-color: rgb(208,78,29);
}
.blue-border,.orange-border{
    box-shadow: 5px 5px 7px rgb(117,117,117);
    width: 100%;
    border-style: solid;
    border-width: 4px;
}

.blue-border iframe {
    display: block;
    border-width: 0;
    padding: none;
    width: 100%;
}

.orange-border iframe {
    display: block !important;
    border-width: 0;
    padding: none;
    width: 100%;
}

.blog-image-box,.brag-image-box {
    width: 100%;
    background: black;
}

.blog-image-box img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 500px;
}

.brag-image-box img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.masthead{
    padding-left: 15px;
    padding-right: 15px; 
    padding-top: 15px;
    padding-bottom: 15px; 
}
.masthead img{
    width: 100%;
} 

.blue-label{
    background-color: rgb(0,102,179);
}
.orange-label{
    background-color: rgb(208,78,29);
}
.blue-label,.orange-label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 20%;
    box-shadow: 5px 5px 7px rgb(117,117,117);
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 120%;
    margin-bottom: 20px;
    padding: 0.5%;
}

.page-body {
    background-color: rgba(255,255,255,0.8);
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.col-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.side-margins {
    margin-left: 20px;
    margin-right: 20px;
}
.wide-side-margins {
    margin-left: 35px;
    margin-right: 35px;
}
.bottom-margin {
    margin-bottom: 20px;
}
.bottom-padding {
    padding-bottom: 20px;
}

.side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.blog-row p{
    text-align: justify;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.read-more img{
    display: inline-block;
    padding-left: auto;
    margin-right: auto;
    width: 26%;
}
div .read-more{
    /*background-color:green;*/
    margin-left: 20px;
    text-align: center;
}

.announce-row{
    text-align: center;
}

.announce{
    padding-top: 3%;
}
.announce p{
    /*font-size: 110%;*/
}
.announce-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 130%;
}
.blue-post .announce-title{
    color: rgb(0,102,179);
}
.orange-post .announce-title{
    color: rgb(208,78,29);
}

.navbar-ligerbots{
    background-color: rgb(0,102,179);
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 32px !important;
}
.navbar-toggle-ligerbots{
    border-color: white;
    border-radius: 0px;
    margin-bottom: 0px;
}
/* .navbar-nav > li > a { */
/*     padding-top: 10px !important; */
/*     padding-bottom: 10px !important; */
/*     padding-left: 10px !important; */
/*     padding-right: 10px !important; */
/* } */
.navbar a{
    font-weight: bold;
    color: white;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    font-size: 130%;
}
.navbar a:hover { 
    background-color: white;
    color: black;
}
.icon-bar-ligerbots{
    background-color: white;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.calendar{
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}

#ligerbots-login{
    background-image: url("../images/background.jpg");

}

.blog-title{
    font-size: 175%;
    font-weight: bold;
    margin-top: 0.5em;
}

.blog-date{
    font-size: 120%;
    margin-bottom: 0.5em;
}

.blog-content{
    /*font-size: 130%;*/
}

.blog-feed{
    font-size: 130%;
    text-align: center;
}
.blog-feed img{
    margin: 5px;
}

.blog-newer{
    font-size: 130%;
    float: left;
}
.blog-older{
    font-size: 130%;
    float: right;
}

.carpool-delete {
    text-align: right;
    float: right;
}

.carpool {
    background-color: white;
    border-width: 0;
    width: 100%;
    height: 800px;
    frameborder: 0;
    scrolling: no;
}
